<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="container mt-2 col-12 ">
    <div class="row mb-3">
        <div class="card mb-3 text-center">
            <img src="<%= campground.image %>" class="img-thumbnail max-width: 35% height: auto" alt="...">
            <div class="card-body">
                <h3><%= campground.title %></h3>
                <h4><%= campground.location %> </h4>
                <p><%= campground.description %></p>
                <p>$<%= campground.price %>/night</p>
                <p>Submitted by <%= campground.author.username %></p>
            </div>
            <% if(currentUser && campground.author.equals(currentUser._id)) { %>
            <div class="d-grid gap-2 d-md-block mb-3">
                <a class="btn btn-primary" href="/campgrounds/<%= campground.id %>/edit ">Edit</a>
                <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE " method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
        </div>
        <div>
            <% if(currentUser && !campground.author.equals(currentUser._id)){ %>
            <div class=" container col-6 mt-2 mb-5">
                <h5>Leave a Review</h5>
                <form class="mb3 vlidated-form " action="/campgrounds/<%= campground._id %>/reviews" method="POST"
                    novalidate>
                    <!-- <div class="mb-3">
                        <label for="form-label" for="rating">Rating</label>
                        <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                    </div> -->
                    <fieldset class="starability-basic">

                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                            aria-label="No rating." />

                        <input type="radio" id="rate1" name="review[rating]" value="1" />
                        <label for="rate1">1 star.</label>

                        <input type="radio" id="rate2" name="review[rating]" value="2" />
                        <label for="rate2">2 stars.</label>

                        <input type="radio" id="rate3" name="review[rating]" value="3" />
                        <label for="rate3">3 stars.</label>

                        <input type="radio" id="rate4" name="review[rating]" value="4" />
                        <label for="rate4">4 stars.</label>

                        <input type="radio" id="rate5" name="review[rating]" value="5" />
                        <label for="rate5">5 stars.</label>

                        <span class="starability-focus-ring"></span>
                    </fieldset>
                    <div class="mb-3">
                        <label for="form-label" for="body">Review</label>
                        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"
                            required></textarea>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
            </div>
            <% } %>
            <div class="row row-cols-1 row-cols-md-3 g-4 text-wrap gap-1">
                <% for(let review of campground.reviews) { %>
                <div class="card mt-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">by <%= review.author.username %> </h5>
                        <p class="starability-result" data-rating="<%= review.rating %>">Rated: <%= review.rating %>
                            stars
                        </p>
                        <p class="card-text">Review: <%= review.body %> </p>

                        <% if(currentUser && review.author.equals(currentUser._id)) { %>
                        <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-danger btn-sm ">Delete</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Delete
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure to delete this campground?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>